html{
	scroll-behavior: smooth !important;
}
body{
	font-family: sans-serif !important;
}
a {
	cursor: pointer;
	transition: .3s !important;
	text-decoration: none;
}
a:hover{
	color: orange !important;
	text-decoration: none;
}
header{
	height: 100vh;
	background-image: url(img/iictVintage.jpeg);
	background-size: cover;
	background-attachment: fixed;
}
.headingText{
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}
.aboutPic{
	width: inherit;
	/*border: 5px solid #ddd;*/
	border-radius: 5px;
	box-shadow: 5px 5px #222;
}
.about{
	min-height: 100vh;
	background-image: url(img/student.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
.aboutHeading{
	color: aliceblue;
}
.aboutPara{
	background: rgba(45,45,45,.99);
	padding-top: 10vh;
	padding-bottom: 10vh;
	padding-left: 5vw;
	padding-right: 5vw;
}
.notImportant {
	display: block;
}

footer{
	text-align: center;
	background: rgba(45,45,45,1);
	color: aliceblue;
	font-size: 14px;
	min-height: 250px;
	text-decoration: none !important;
}
footer a{
	color: lightblue;
}
footer a:hover{
	color: lightgreen;
	text-decoration: none;
}
.footerNav{
	list-style: none;
	text-align: left;
	margin-left: 25px;
}
.footerNavHeader{
	font-size: 17px;
	margin-left: -70px;
}
.footerAll{
	padding-top: 50px;
}
.socialIcons{
	font-size: 35px;
}
.socialIcon{
	transition: .3s;

}
.socialIcon.fb:hover{
	color: rgb(59, 89, 152) !important;
}
.socialIcon.gp:hover{
	color: #dd4b39 !important;
}
.socialIcon.tw:hover{
	color: #1da1f2 !important;
}
.socialIcon.git:hover{
	color: #000 !important;
}
@media only screen and (min-width: 992px) {
    .alignEnd {
        position: absolute !important;
        right: 10px;
    }
    .nav-item{
    	margin-left: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .notImportant {
		display: none;
	}
	.loginForm {
		width: 70%;
	}
}
