html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #eee !important;
    width: 100%;
    height: 100%;
    color: #333;
    overflow-x: hidden;
}
a {
    text-decoration: none !important;
    color: #ccc !important;
    transition: color .3s;
}
a:hover {
    text-decoration: none !important;
    color: #888!important;
}
.contents {
    width: 100vw;
    position: absolute;
    top: 50px;
}
.cover {
    width: 100vw;
    position: absolute;
    z-index: -1;
    height: 25vh;
}
.cover-pic {
    position: absolute;
    object-fit: cover;
    object-position: center;
    max-height: 25vh;
    width: 100vw;
}
.edit-profile {
    font-size: 30px;
    position: absolute;
    right: 30px;
    bottom: -45px;
    color: #888 !important;
}
.edit-profile:hover{
    color: #333 !important;
}
.display-profile-pic {
    object-fit: cover;
    object-position: center;
    width: 250px;
    height: 250px;
    border: 10px solid #eee;
    border-radius: 50%;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%);
}
.name{
    color: #333;
    text-align: center;
    line-height: 30px;
    position: relative;
    top: 350px;
    left: 50%;
    transform: translate(-50%);
}
.display-name {
    font-weight: bold;
    font-size: 40px;
}
.regno {
    font-weight: lighter;
    font-size: 30px;
    margin: 5px;
}
.batchName {
    color: #555 !important;
    font-size: 28px;
}

.container {
    margin-top: 450px;
}
.box {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(170,170,170,.3);
    -moz-box-shadow: 0px 0px 2px 1px rgba(170,170,170,.3);
    box-shadow: 0px 0px 2px 1px rgba(170,170,170,.3);
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
}
.box-header {
    font-size: 35px;
}
.box-container {
    margin-top: 20px;
    margin-bottom: 15px;
}
.rowTitle {
    width: 20vw;
}
.profileContainer {
    position: absolute;
    margin-left: 30px;
    top: 470px;
    transform: translate(-70%);
    left: 50%;
}
.profileLink {
    font-size: 40px;
    margin-left: 10px;
    color: #333 !important;
}
.githubLink:hover {
    color: #000 !important;
}
.twitterLink:hover {
    color: #38A1F3 !important;
}
.linkedinLink:hover {
    color: #0077B5 !important;
}
.fbLink:hover {
    color: #3b5998 !important;
}
.single-endor {
    margin-left: 20px;
    margin-bottom: 20px;
}
.endor-title {
    font-weight: bold;
    font-size: 20px;
}
.endor-data {
    margin-left: 30px;
    margin-top: 5px;
}




.clearfix {
    display: block;
    width: 100%;
    height: 50px;
}

/*FOR RESPONSIVE NAVBAR*/
@media only screen and (min-width: 992px) {
    .alignEnd {
        position: absolute !important;
        right: 10px;
    }
    .nav-item{
    	margin-left: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .notImportant {
		display: none;
	}
}

@media only screen and (min-height: 1250px) {
    .cover-pic {
		max-height: 15vh;
	}
    .cover {
        max-height: 15vh;
    }
}
