body {
    margin: 0;
    padding: 0;
    background: #eee !important;
}
a:hover {
    text-decoration: none !important;
}
.container {
    background: #fff;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
}
.single-post {
    padding: 100px 50px;
}
.single-post-title {
    font-size: 60px;
    font-weight: lighter
}
.single-post-data {
    color: #555;
    font-weight: lighter;
}
.single-post-content {
    margin-top: 50px;
    font-size: 20px;
}
.single-post-thumbnail {
    float: right;
    height: 300px;
    margin: 40px;
    border: 3px solid #aaa;
}




@media only screen and (min-width: 992px) {
    .alignEnd {
        position: absolute !important;
        right: 10px;
    }
    .nav-item{
        margin-left: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .notImportant {
        display: none;
    }
    .loginForm {
        width: 70%;
    }
}
